<!DOCTYPE html>
<html lang="en">
<head>
  <title>Florist Locator</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <h1>
      Locate your local florist
    </h1>
  </header>
  <main id="container">
    <p>Enter your location:</p>
    <form action="/florists" method="POST">
      <input name="florists" id="text" type="text" placeholder="Location" aria-labelledby="submit-location">
      <button type="submit" id="submit-location">Submit Location</button>
      <p>
        Ex. 'New York City', '123 Apple Ave, NY 12121', etc.
      </p>
    </form>
  </main>
  <script>
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(position => {
      let text = document.getElementById('text');
      text.value += position.coords.latitude + ', ' + position.coords.longitude;
    });

  } else {
    console.log('Geolocation is not supported by your browser');
  }
  </script>
</body>
</html>