<!DOCTYPE html>
<html lang="en">
<head>
  <title>Florist Locator</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <h1>
      Locate your local florist
    </h1>
  </header>
</body>
</html>